.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
    font-size: 2rem;
}

.navbar-default,
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    /* font-size: 3rem; */
    /* line-height: 4rem; */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

/* .nav_fuoat41y5 .navbar-inner nav ul li a span {
    color: #000000;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
    color: #000000;
} */