body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.topnav {
    width: 1200px;
    margin: 125px auto;
    padding: 15px;
}

a {
    color: #000;
}

a:hover {
    color: #444;
    text-decoration: none;
}

.logo-title {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 0.75rem;
}

.nav-link a {
    padding-right: 100px;
}