body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.nav {
  width: 1200px;
  margin: 125px auto;
  padding: 15px;
}

.nav__link {
  color: #000;
}

.nav__link:hover {
  color: #444;
  text-decoration: none;
}

.nav__logo-container .nav__link {
  font-size: 1.5rem;
}

.nav__list .nav__link {
  font-size: 0.75rem;
  padding-right: 100px;
}
