body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.topnav a {
    color: #000;
}

.topnav a:hover {
    color: #444;
    text-decoration: none;
}

.topnav .brand a {
    font-size: 1.5rem;
}
.topnav .links a {
    font-size: 0.75rem;
}